{% extends 'base.html' %}
{% block content %}

<h1>Restaurant Detail</h1>
<div class="card">
    <div class="card-content">
        <span class="card-title">{{ restaurant.name }}</span>
        <p>Cuisine: {{ restaurant.cuisine }}</p>
        <p>Description: {{ restaurant.description }}</p>
        {% if restaurant.stars > 3 %}
         <p>Rating: {{ restaurant.stars }} Stars</p>
        {% else %}
        <p>Rating: Would Not Recommend</p>
        {% endif %}
        <p>City: {{restaurant.city}}</p>
        <p>Country: {{restaurant.country}}</p>
    </div>
    <div class="card-action">
        <a href="{% url 'restaurants_update' restaurant.id %}">Edit</a>
        <a href="{% url 'restaurants_delete' restaurant.id %}">Delete</a>
    </div>
</div>

{% endblock %}